@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuerza que el sitio siempre esté en modo claro */
html {
  color-scheme: light;
  background: #f5f5f5;
}

body {
  background-color: #f5f5f5 !important;
  color: #111 !important;
}
