@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuerza modo claro siempre */
:root {
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 245, 245, 245;
  --foreground-rgb: 20, 20, 20;
}

/* Fondo suave gris claro */
body {
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}
